#mainHeader {
    color: var(--green);
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20rem;
    font-weight: var(--bold);
    line-height: 1;
    text-shadow: 10px 10px 2px rgba(27, 254, 149, 0.25);
    margin-bottom: 2.5rem;
}

#divider {
    width: 20rem;
    border-bottom: 1px solid var(--green);
    margin-bottom: 5rem;
}

#title {
    color: var(--primary);
    font-size: 2.5rem;
    font-weight: var(--medium);
    margin-bottom: 2.5rem;
    text-align: center;
}

#subTitle {
    width: min(60rem, 90vw);
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: var(--regular);
    line-height: 2.5rem;
    margin-bottom: 10rem;
    text-align: center;
}

#GitHubLogo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.5rem;
}

#GitHubText {
    font-size: 1.5rem;
    color: var(--green);
    font-weight: var(--light);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1BFF95;
}
